{% extends "layout/layout.html" %}
{% block content %}
<div class="container">
  <div class="account_content row">
    <!-- left -->
    <div id="account_edit_box" class="col s8">
      <br>
      <legend>account data
        <span class="green"></span>
      </legend>
      <form class="form-horizontal">
        <div class="control-group" style="margin-bottom: 0px;">
          <label class="control-label">username</label>
          <div class="controls">{{user.name}}</div>
        </div>
        <div class="control-group">
          <label class="control-label">email</label>
          <div class="controls">{{user.email}}</div>
        </div>
      </form>

      <legend>change password
        <span class="green"></span>
      </legend>
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">old password</label>
          <div class="controls">
            <input type="password" name="old">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">new password</label>
          <div class="controls">
            <input type="password" name="new">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">confirm new password</label>
          <div class="controls">
            <input type="password" name="confirm">
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" value="change" class="btn new-button">
        </div>
      </form>

    </div>
    <!-- right -->
    <div class="col s4">
      <br>
      <div class="links">
        Ez Compiler is powered by 
        <a href="https://www.jdoodle.com/" target="_blank">Jdoodle.com</a>
        <p>
          <a href="/">home</a>
        </p>
        <p>
          <a href="https://www.jdoodle.com/compiler-api" target="_blank">api</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!--  -->

{% endblock %}