<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ACE in Action</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>

<body>
    <div class="container">
        <div class="editer">
            <div id="editor"></div>
        </div>
        <div class="control">
            <div class="languageOption">
                <select onchange="changeLanguage()" name="lang" required>
                    <option value="1">C</option>
                    <option value="2">C++</option> 
                    <option value="9">C#</option>
                    <option value="3">Java</option>
                    <option value="20">Javascript</option>
                    <option value="5">Python</option>
                </select>
            </div>
            <div class="compileRun">
               <div>
                    <textarea placeholder="Provide your input here each seperated by a new line."></textarea>
               </div>
               <button class="btn btn-danger">COMPILE & RUN</button>
                <!-- <button class="compilerButton">COMPILE & RUN</button> -->
            </div>

            <div class="compileRun output">
                <div>
                    <textarea></textarea>
                </div>
                <button class="btn btn-primary" disabled="disabled">YOUR OUTPUT</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/html");
        editor.setFontSize(16);
    </script>
</body>
</html>