*{
    padding: 0;
    margin: 0;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.editer {
    position: relative;
    width: 100%;
    float: left;
    min-height: 645px;
    height: 100%;
    background: grey;
}

.control{
    float: left;
    width: 100%;
    min-height: 635px;
}

.languageOption{
    padding-right:10px;
    padding-left: 10px;
}

.languageOption select {
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white;
    
}

.compileRun {
    padding-right:10px;
    padding-left: 10px;
}

.compileRun textarea{
    height: 200px;
    margin: 2px 2px 2px 1px;
    padding: 5px;
    width: 100%;
    border: 1px solid grey;
    resize: none;
}

.compileRun button{
    width: 100%;
    color: white;
    font-weight: bold;
}

.compileRun div {
    padding: 5px;
    border:  1px solid white;
    background-color: white;
    
}

.output{
    margin-top: 20px;
}

.output textarea {
    height: 200px;
}

.output button{
    background-color: #AB1212;
}

.example2 .navbar-brand>img {
    padding: 7px 15px;
    width: 70px;
    height: 50px;
  }
  
.navbar a{
    color: black
}

.nav-container{
    padding-left: 16px;
    padding-right: 16px;
}

.editer-container {
    padding: 0 !important;
}

.input-container {
    padding: 0 !important;
}