{% extends "layout/layout.html" %}
{% block content %}
<div class="container">
    <h3>
        <br><u>About Ez Compiler</u>
    </h3>
    <p>
        <b>Ez Compiler</b>
        is an online compiler using Jdoodle API compiler with Ace editor. You can share url source. Ez Compiler supports languages: C, C++, C#, Java, Javascript and Python. 
        <br><br>Here is a short video demo to get your started.  
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/watch?v=aGUQsb31TEw&start_radio=1&list=RDaGUQsb31TEw" frameborder="0" allowfullscreen>

    </iframe>
</div>
{% endblock %}
